# For Loop <hr style = "border:2.5px solid #2fff00ff"></hr>

<b> Ian Benedict L. Depasucat </b>
<br> T09 - A

## Iterating Over a List

In [1]:
numbers = [1,2,3,4,5,6,7,8,9,10]

for n in numbers:
    if n%2 == 0:
        print (n)

2
4
6
8
10

In [2]:
# List Comprehension
numbers = [1,2,3,4,5,6,7,8,9,10]
result = [n for n in numbers if n%2 == 0]
result

[2, 4, 6, 8, 10]

# Iterating Over a Dictionary <hr style = "border:2.5px solid #0dff00ff"></hr>

In [3]:
for char in "(I love Python!)":
    print (char)

(
I

l
o
v
e

P
y
t
h
o
n
!
)

In [4]:
#key-value pair

employee = {'name': [' Ada','Ian'],
            'position': ['Analyst','Developer'],
            'salary' : ['1000000','1500000']}

for key in employee:
    print(key)

name
position
salary

In [5]:
employee['salary']

['1000000', '1500000']

In [6]:
for value in employee.values():
    print (value)

[' Ada', 'Ian']
['Analyst', 'Developer']
['1000000', '1500000']

# Lambda Function <hr style = "border:2.5px solid #26ff00ff"></hr>

In [7]:
def mul_by_2(x):
    x = 2*x
    return x

mul_by_2(4)

8

In [8]:
y = 8
x = (lambda x : 2*x)(y)
x

16

In [9]:
type (x)

int